<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

  <configuration>

    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Headers" value="accept, content-type" />
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
    
    <system.web>
      <webServices>
        <protocols>
          <add name="HttpPost"/>
          <add name="HttpGet"/>
          <add name="HttpPostLocalhost"/>
        </protocols>
      </webServices>

      <compilation debug="true" targetFramework="4.5">
        <assemblies>
          <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.5"/>
    
    <customErrors mode="Off"/>
    </system.web>

  <connectionStrings>
    <add name="HabiPetConnectionString"  connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup58_prod;
           User ID=bgroup58;Password=bgroup58_86624" providerName="System.Data.SqlClient"/>
  </connectionStrings>

    <system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="2147483644" />
        </webServices>
      </scripting>
    </system.web.extensions>

</configuration>